<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="topBar">
        <div class="container">
            <div id="topBarLeft">
                <ul id="socialNav">
                    <li>facebook</li>
                    <li>twitter</li>
                    <li>linkedIN</li>
                    <li>Instagram</li>
                </ul>
            </div>
            <div id="topBarRight">
                contact@me.com | 0300-0000000
            </div>
            <div class="clearFix"></div>
        </div>
    </div>
    <div id="header">
        <div class="container">
            <div id="headerLeft">
                <img src="images/logo.jpg" alt="logo" id="logo">
            </div>
            <div id="headerRight">
                <ul id="mainNav">
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="clearFix"></div>
        </div>
    </div>
    <div id="slider"></div>
    <div id="contentArea">
        <div class="container">
            <div id="contentAreaLeft">
                <h2>Our Mission</h2>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad ipsa laborum ratione laudantium temporibus est saepe, nulla
                        minus ab quod aut deleniti consequuntur, minima cupiditate id, rerum vel. Veritatis, quam! Lorem
                        ipsum dolor sit amet consectetur, adipisicing elit. Ad ipsa laborum ratione laudantium temporibus
                        est saepe, nulla minus ab quod aut deleniti consequuntur, minima cupiditate id, rerum vel. Veritatis,
                        quam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad ipsa laborum ratione laudantium
                        temporibus est saepe, nulla minus ab quod aut deleniti consequuntur, minima cupiditate id, rerum
                        vel. Veritatis, quam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad ipsa laborum ratione
                        laudantium temporibus est saepe, nulla minus ab quod aut deleniti consequuntur, minima cupiditate
                        id, rerum vel. Veritatis, quam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad ipsa
                        laborum ratione laudantium temporibus est saepe, nulla minus ab quod aut deleniti consequuntur, minima
                        cupiditate id, rerum vel. Veritatis, quam! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Ad ipsa laborum ratione laudantium temporibus est saepe, nulla minus ab quod aut deleniti consequuntur,
                        minima cupiditate id, rerum vel. Veritatis, quam!Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Ad ipsa laborum ratione laudantium temporibus est saepe, nulla minus ab quod aut deleniti consequuntur,
                        minima cupiditate id, rerum vel. Veritatis, quam! Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Ad ipsa laborum ratione laudantium temporibus est saepe, nulla minus ab quod aut deleniti consequuntur,
                        minima cupiditate id, rerum vel. Veritatis, quam! Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Ad ipsa laborum ratione laudantium temporibus est saepe, nulla minus ab quod aut deleniti consequuntur,
                        minima cupiditate id, rerum vel. Veritatis, quam!
                    </p>
                </div>
            </div>
            <div id="contentAreaRight">
                <h2>Our Mission</h2>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad ipsa laborum ratione laudantium temporibus est saepe, nulla
                        minus ab quod aut deleniti consequuntur, minima cupiditate id, rerum vel. Veritatis, quam! Lorem
                        ipsum dolor sit amet consectetur, adipisicing elit. Ad ipsa laborum ratione laudantium temporibus
                        est saepe, nulla minus ab quod aut deleniti consequuntur, minima cupiditate id, rerum vel. Veritatis,
                        quam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad ipsa laborum ratione laudantium
                        temporibus est saepe, nulla minus ab quod aut deleniti consequuntur, minima cupiditate id, rerum
                        vel. Veritatis, quam!
                    </p>
                </div>

            </div>
            <div class="clearFix"></div>
        </div>
    </div>
    <div id="footerNav">
        <div class="container">
            <div class="navigationMenu">
                <h2>Navigation 1</h2>
                <ul>
                    <li>Link 1</li>
                    <li>Link 1</li>
                    <li>Link 1</li>
                    <li>Link 1</li>
                    <li>Link 1</li>
                    <li>Link 1</li>
                </ul>
            </div>
            <div class="navigationMenu">
                <h2>Navigation 2</h2>
                <ul>
                    <li>Link 1</li>
                    <li>Link 1</li>
                    <li>Link 1</li>
                    <li>Link 1</li>
                    <li>Link 1</li>
                    <li>Link 1</li>
                </ul>
            </div>
            <div class="navigationMenu">
                <h2>Navigation 3</h2>
                <ul>
                    <li>Link 1</li>
                    <li>Link 1</li>
                    <li>Link 1</li>
                    <li>Link 1</li>
                    <li>Link 1</li>
                    <li>Link 1</li>
                </ul>
            </div>
            <div class="clearFix"></div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <p>Terms & Conditions | Privacy Policy</p>
            <p>All Rights Reserved</p>
        </div>
    </div>
</body>

</html>